.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

ul {
  list-style-type: none;
}

.header__wrapper {
  border-bottom: solid 1px grey;
  shadow-box: 0 1px grey;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-weight: 900;
  font-size: 32px;
  color: coral;
}

.header .nav__list {
  display: flex;
}

.header .nav__item {
  margin-right: 32px;
  text-decoration: none;
}

.header .nav__link {
  color: #000;
  text-decoration: none;
}

.header .nav__link--active {
  color: brown;
}

.footer__wrapper {
  background-color: #366A6A;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.footer .nav__list {
  display: flex;
  list-style-type: none;
}

.footer .nav__item {
  margin-right: 48px;
}
